//  ICON > FOR BUTTON

// code for HTML
// <svg class="icon buttons__icon" width="12" hight="12">
//     <use href="./images/icons.svg#button-arrow-right"></use>
// </svg>


.buttons__icon {
    width: 12px;
    height: 12px;
    margin-left: 4px;
    fill: $black-txt-cl;
    @include transitionRules (fill);
}



