// CLOSE BUTTON AND ICON

// code for HTML
//  <button class="close-button--black" type="button" data-modal-close>
//     <svg class="close__icon--black ">
//         <use href="./images/icons.svg#close"></use>
//     </svg>
//  </button>

.close-button--black {
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;

    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;

}

.close__icon--black {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 13px;
    height: 13px;
    fill: $main-txt-cl;

}

.close-button--white {
    display: block;
    position: absolute;
    top: 32px;
    right: 32px;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;

}

.close__icon--white {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 19px;
    height: 19px;
    fill: $main-txt-cl;

}