.read-more-button {
    @extend %button;
    @extend %button--color;
    min-width: 164px;
    min-height: 42px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width:$tablet) {
        margin-left: 0;
    }

}