p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

    width: 100%;
}

.contacts__section {
  margin-bottom: 60px;
}

.contacts__list {
  display: flex;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.contacts__item {
  position: relative;
  width: 100%;

  width: 280px;
  height: 412px;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;

  background: $white-txt-cl;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.contacts__top-text {
  display: flex;
  align-items: center;
  text-align: center;



  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: $main-txt-cl;

  width: 80px;
  height: 22px;
  border-radius: 4px;
  background: $yellow-txt-cl;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
  padding: 4px 22px;
}

.contacts__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;


  margin-bottom: 8px;
  color: $main-txt-cl;
}

.contacts__address {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  width: 190px;
  height: 40px;

  color: $orange-bg-cl;

  margin-bottom: 0;


}

.contacts__address::after {
  content: "";
  position: absolute;
  display: block;

  margin-top: 24px;
  margin-bottom: 24px;
  width: 216px;

  border: 1px solid #E1E1E1;
}

.contacts__schedule {
  margin-top: 48px;
  margin-bottom: 24px;
}

.contacts__schedule-item {
  margin-bottom: 8px;
}

.contacts__schedule-day {
font-weight: 500;
font-size: 12px;
line-height: 1.83%;

width: 98px;
height: 22px;
text-align: center;
align-items: center;

color: $main-txt-cl;
}

.contacts__schedule-hour {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;

  color: $grey-txt-cl;
}

