.background-wrapper {
  position: relative;
}

.contacts__section {
  position: absolute;
  margin-bottom: 60px;
  bottom: auto;
  left: 50%;
  top: 133%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 768px){

    top: 103%;
  }

  @media screen and (min-width: 1200px){
    top: 120%;
  }
}

.contacts__container {
  margin-left: auto;
  margin-right: auto;
}

.contacts__list {
  margin-bottom: 16px;

  @media screen and (min-width: 768px){
    display: flex;
   gap: 16px;
  }
  @media screen and (min-width: 1200px){
   gap: 32px;
 }
}

.contacts__item {
  position: relative;

  width: 100%;
  min-height: 412px;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 24px;
  margin-bottom: 16px;

  background: $white-txt-cl;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (min-width: 480px){
    width: 440px;
  }

  @media screen and (min-width: 768px){
    width: calc((100% - 32px) / 3);
    height: 537px;
    padding-left: 24px;
    padding-bottom: 40px;
    margin-bottom: 0;
  }

   @media screen and (min-width: 1200px){
    width: calc((100% - 64px) / 3);
    padding-left: 40px;
  }
}

.contacts__top-text,
.contacts__second-text {
  display: flex;
  align-items: center;
  text-align: center;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: $main-txt-cl;

  width: 80px;
  height: 22px;
  border-radius: 4px;
  background: $yellow-txt-cl;
  justify-content: center;
  align-items: center;

  margin-bottom: 20px;
  padding: 4px 22px;

  @media screen and (min-width: 480px){
    font-size: 13px;
   }

   @media screen and (min-width: 768px){
    font-size: 16px;
    line-height: 1.37;
    margin-bottom: 32px;
    padding: 4px 13px;
    }
   @media screen and (min-width: 1200px){
    padding: 4px 14px;
  }

}

.contacts__second-text {
  width: 133px;

  @media screen and (min-width: 480px){
    width: 148px;
  }

  @media screen and (min-width: 768px){
    width: 138px;
    padding: 4px 10px;
  }

   @media screen and (min-width: 1200px){
   width: 148px;
   padding: 4px 14px;
  }
}

.contacts__text {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  min-width: 62px;

  margin-bottom: 8px;
  color: $main-txt-cl;

  @media screen and (min-width: 480px){
    font-size: 13px;
  }

  @media screen and (min-width: 768px){
    font-size: 14px;
    line-height: 1.9;
    margin-bottom: 12px;
  }
  @media screen and (min-width: 1200px){
  font-size: 16px;
  line-height: 1.9;
  margin-bottom: 8px;
  }
}

.contacts__address {
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  min-width: 190px;
  height: 40px;


  color: $orange-bg-cl;

  margin-bottom: 0;

  @media screen and (min-width: 480px){
    width: 240px;
    font-size: 13px;
  }

  @media screen and (min-width: 768px){
    width: 173px;
    height: 71px;
    font-size: 14px;
    line-height: 1.82;
    min-width: 158px;
  }
   @media screen and (min-width: 1200px){
    width: 288px;
    font-size: 16px;
    line-height: 1.81;
  }

}

.contacts__address::after,
.contacts__schedule-list::after {
  content: "";
  position: absolute;
  display: block;

  margin-top: 24px;
  margin-bottom: 24px;
  width: 216px;

  border: 1px solid #E1E1E1;

  @media screen and (min-width: 480px){
    width: 376px;
  }

  @media screen and (min-width: 768px){
    width: 176px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
   @media screen and (min-width: 1200px){
  width: 288px;
  }
}

.contacts__schedule {
  margin-top: 48px;
  margin-bottom: 24px;
  width: 124px;
  height: 96px;
  @media screen and (min-width: 768px){

    margin-top: 64px;
    // margin-bottom: 32px;
  }

  @media screen and (min-width: 1200px){
    margin-bottom: 32px;
    margin-top: 52px;
  }

}

.contacts__schedule-list {
  margin-bottom: 24px;
  min-width: 216px ;
}

.contacts__schedule-item:not(:last-child) {
  padding-bottom: 8px;
}

.contacts__schedule-list {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;

  min-width: 98px;
  height: 22px;

  color: $main-txt-cl;

  @media screen and (min-width: 480px){
  font-size: 13px;
  }

  @media screen and (min-width: 768px){
  height: 26px;
  width: 144px;
  font-size: 14px;
  line-height: 1.9;
  }

  @media screen and (min-width: 1200px){
  width: 159px;
  height: 30px;
  font-size: 16px;
  line-height: 1.85;
  }

}

.contacts__hour {
min-width: 124px;
height: 22px;

font-weight: 500;
font-size: 12px;
line-height: 1.83;
color: $grey-bt-cl;

@media screen and (min-width: 480px){
  font-size: 13px;
  min-width: 144px;

}

@media screen and (min-width: 768px){
  height: 26px;
  font-size: 14px;
  line-height: 1.9;
}

@media screen and (min-width: 1200px){
  width: 168px;
  font-size: 16px;
  line-height: 1.86;
}
}

.contacts__info {

  width: 130px;
  height: 44px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;

  color: $main-txt-cl;
}

.contacts__info-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.contacts__info-item:not(:last-child) {
  margin-bottom: 6px;
  margin-top: 24px;

  @media screen and (min-width: 768px){
    margin-bottom: 4px;
    margin-top: 62px;
  }
}

.contacts__tel,
.contacts__mail {
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 1.58;

color: $main-txt-cl;
text-decoration: none;

@media screen and (min-width: 480px){
  width: 290px;
  display: flex;
  font-size: 13px;
  align-items: flex-start;
  }

 @media screen and (min-width: 768px){
  width: 290px;
  font-size: 14px;
  line-height: 1.5;
  }

 @media screen and (min-width: 1200px){
   font-size: 16px;
   line-height: 1.85;
  }

}

.contacts__buttons-list {
  margin-top: 20px;

  @media screen and (min-width: 768px){
    display: flex;
    margin-top: 40px;
    justify-content: center;
  }

  @media screen and (min-width: 1200px){
    margin-top: 60px;
  }
}

.contacts__buttons-item:not(:last-child) {
  margin-bottom: 16px;

  @media screen and (min-width: 768px){
    margin-right: 16px;
  }
}

.contacts__btn-icon {
  margin-left: 4px;
}



