.menu-toggle {
    min-height: 32px;
    min-width: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-left: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;

    &:hover,
    &:focus {
        background-color: #F8D24E;
    }
}

@media (min-width: 1200px) {
    .menu-toggle {
        display: none;
    }
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 20px 32px;
    background-color: #84A178;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;

    font-weight: 700;
    font-size: 48px;
    line-height: calc(58 / 48);

    &:not(:last-child) {
        margin-bottom: 40px;
    }

    &:hover,
    &:focus {
        color: #131313;
    }
}