.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .is-hidden {
        opacity: 0;
        pointer-events: none;
        .modal-product {
            transform: translate(-50%, -50%) scale(0.8);
        }
    }

    .modal-product {
        width: 280px;
        height: fit-content;
        padding: 28px 20px;
        background-color: #fff;
        border-radius: 4px;
        max-height: 90%;
        overflow-y: scroll;
      
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width:768px) {
            width: 568px;
          
          padding: 32px 40px;
          }

          &__close-icon {
            @media screen and (max-width:767px) {
                width: 20px;
                height: 20px;
            }

            @media screen and (min-width:768px) {
                width: 24px;
                height: 24px;
            }
          }

          &__title {
            font-family: $secondary-font;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 1.4;
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            color: #131313;
    
            margin-bottom: 20px;
    
            @media screen and (min-width:768px) {
                margin-bottom: 24px;
            }
    
        }

        &__photo-container {
            margin-bottom: 22px;
            position: relative;
    
            @media screen and (min-width:768px) {
                margin-bottom: 24px;
            }
        }

        &__photo-container::after {
            content: "";
            position: absolute;
            width: 132px;
            height: 132px;
            border-radius: 50%;
            background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
            box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
            top: 7px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            }
    
            &__photo {
                display: flex;
                justify-content: center;
                
            }

            &__button-send{
                min-width: 132px;
                padding: 12px 34px;
                margin: 0 auto;
                
            
                border: none;
                cursor: pointer;
            
                background: $yellow-bt-cl;
                border-radius: 10px;
            
                font-family: $main-font;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 1.21;
                display: block;
                align-items: center;
                text-align: center;
            
                color: #131313;

                transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                            color 250ms cubic-bezier(0.4, 0, 0.2, 1);;

                &:hover, &:focus {
                    background-color: $green-bt-cl;
                    color: #ffffff;
                }
              }

              &__ingredients {
                font-family: $main-font;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 1.4;
                
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: center;
                
                color: #131313;
                
                margin-bottom: 24px;
                }
    }    

    .callories {
        position: relative;
        display: flex;
        justify-content: center;
        gap: 10px;
        list-style: none;
        margin: 0px;
        padding: 0px;
        margin-bottom: 39px;

        &__item {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            width: 53px;
            height: 72px;
            left: 209px;
            top: 246px;
            border: 2px solid #9cbe8f;
            border-radius: 40px;
            padding-bottom: 8px;
    
            @media screen and (min-width:768px) {
                width: 65px;
                height: 90px;
            }
            
          }
       
      }
      
      
      .round {
        display: flex;
        position: absolute;
        top: 0px;
        justify-content: center;
        align-items: center;
        width: 43px;
        height: 43px;
        background-color: #9cbe8f;
        
        box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
        border-radius: 50%;
        
        @media screen and (min-width:768px) {
            width: 53px;
            height: 53px;
        }

        &__text {
            font-family: $main-font;
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 2.8;
            color: #131313;
    
            @media screen and (min-width:768px) {
                font-size: 12px;
            }
          }

          &__content{
            font-family: $main-font;
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 1.2;
            color: #131313;
    
            @media screen and (min-width:768px) {
                font-size: 12px;
                line-height: 1.25;
            }
    
          }
      }

      

      

.ingredients {
    padding: 0;
    margin: 0;
    margin-bottom: 48px;

    &__item {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        font-family: $main-font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.76;
    
        &:last-child {
            margin-bottom: 0;
        }
    }
}






.form-ingr {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 368px;
  
    &__input {
        padding: 11px 8px;
        margin-bottom: 12px;
        height: 32px;
      
        font-size: 12px;
        line-height: 1.4;
        
      
        background-color: rgba(248, 210, 78, 0.1);
        border-width: 1px;
        border-style: solid;
        
        background: rgba(248, 210, 78, 0.1);
        border: 1px solid #84A178;
        border-radius: 10px;
        
        &:last-child {
            margin-bottom: 0;
        }
        &:hover, &:focus {
            border-color: $green-bt-cl;
        }
      }

      &__input::placeholder {
        font-family: $main-font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.4;   
        color: #131313;
      }

      &__input--multiline {
    
        height: 64px;
        resize: none;
      
      }
   
  }
  
  

  
  
  
  



  