
        $main-font: 'Montserrat', sans-serif;
        $secondary-font: 'Seymour One', sans-serif;
    // TEXT COLOR
        $main-txt-cl:#131313;
        $yellow-txt-cl: #F8D24E;
        $green-txt-cl: #0A8817;
        $white-txt-cl:#FCFCFC;
        $black-txt-cl:#000000;
        $grey-txt-cl:#ABABAB;
        $grew-footer-txt-cl:#7A7A7A;
        $orange-txt-cl:#D6936D;
    // BG COLOR
        $black-bg-cl:#131313;
        $green-bg-cl: #84A178;
        $yellow-bg-cl:#EFD478;
        $orange-bg-cl:#D6936D;
        $light-bg-cl:rgba(248, 210, 78, 0.1);
    // BUTTON COLOR
        $green-bt-cl: #0A8817;
        $yellow-bt-cl: #F8D24E;
        $grey-bt-cl: #ABABAB;
    // ICON COLOR
        $green-icon-cl: #84A178;
    // BREAKPOINTS
        $mobile: 480px;
        $tablet: 768px;
        $desktop: 1200px;
    