<!-- SECTION ABOUT -->
<section class="about" id="about">
    <div class="container">
        <label class="about__label">tradition&nbspand&nbsplove
            <h2 class="about__title">how it’s made?</h2>
        </label>

        <div class="about__wrapper">
            <div class="about__thumb">
                <div class="about__photo">
<!-- PHOTO COW -->
                    <picture>

                        <source srcset="./images/about/cow280w.png 280w,                           
          ./images/about/cow280w@2x.png 560w" media="(max-width: calc($tablet - 1px))" sizes=" 100vw" type="image/png">

                        <source srcset="./images/about/cow330w.png 330w,                           
          ./images/about/cow330w@2x.png 660w" media="(min-width:$tablet)" sizes=" 50vw" type="image/png">

                        <source srcset="./images/about/cow490w.png 490w,                           
          ./images/about/cow490w@2x.png 980w" media="(min-width:$desktop)" sizes=" 50vw" type="image/png">

                        <img src="./images/about/cow280w.png" alt="Cow" width="280" class="about__img " />

                    </picture>
                </div>
            </div>
            <div class="about__text-button">
                <div class="about__list ">
                    
                        <p class="about__text ">
                            Ice is a place where you will become not only a little happier, but also healthier. Health
                            is the main value for&nbspus, and we follow it when creating our handmade desserts.
                        </p>
                                       
                        <p class="about__text">
                            We use traditional recipes and 100% natural ingredients. Our products are so natural that
                            they can be given to children from&nbspthe age of three years. Sweets lovers can expect 55 types&nbspof&nbspice cream, 15 types of
                            coffee and 23 milkshakes.
                        </p>
                   
                        <p class=" about__text">
                            This is enough to choose ice cream and coffee&nbspfor&nbspany mood!
                        </p>
                 
                </div>

                <button class="read-more-button" type="button" data-made-modal-open>
                    Read more
                    <svg class="buttons__icon" width="12" hight="12">
                        <use href="./images/icons.svg#button-arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>