<section class="contacts section">
  <div class="container contacts__container">
    <h2 class="contacts__title visually-hidden">Адреса</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <p class="contacts__text">CAFE</p>
        <address class="contacts__address">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</address>
        <div class="contacts__schedule">
          <ul class="contacts__schedule-list">
            <li class="contacts__schedule-item">
              <p class="contacts__schedule-day">Monday - Friday</p>
              <p сlass="contacts__schedule-hour">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__schedule-item"></li>
          </ul>
          <h3 class="contacts__schedule"></h3>
        </div>

      </li>
    </ul>
  </div>
</section>