<section class="contacts__section" id="contacts">
    <div class="container">
      <h2 class="contacts__title visually-hidden">Адреса</h2>
      <ul class="contacts__list list">
        <li class="contacts__item">
          <p class="contacts__top-text">CAFE</p>
          <p class="contacts__text">Chicago</p>
          <address class="contacts__address">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</address>
          <div class="contacts__schedule">
            <ul class="contacts__schedule-list list">
              <li class="contacts__schedule-item">
                <p>Monday - Friday</p>
                <div class="contacts__hour">
                  <p>06:00 AM - 10:00 PM</p>
                </div>
              </li>
              <li class="contacts__schedule-item">
                <p>Saturday - Sunday</p>
                <div class="contacts__hour">
                  <p>08:00 AM - 16:00 PM</p>
                </div>
            </ul>
          </div>
          <div class="contacts__info">
            <ul class="contacts__info-list list">
              <li class="contacts__info-item">
                <a href="tel:+61(0)383766284" class="contacts__tel link">+61(0) 383 766 284</a>
              </li>
              <li class="contacts__info-item">
                <a href="mailto:noreply@envato.com" class="contacts__mail link">noreply@envato.com</a>
              </li>
              </ul>
          </div>
        </li>
        <li class="contacts__item">
          <p class="contacts__second-text">FOOD TRUCK</p>
          <p class="contacts__text">Los Angeles</p>
          <address class="contacts__address">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</address>
          <div class="contacts__schedule">
            <ul class="contacts__schedule-list list">
              <li class="contacts__schedule-item">
                <p>Monday - Friday</p>
                <div class="contacts__hour">
                  <p>06:00 AM - 10:00 PM</p>
                </div>
              </li>
              <li class="contacts__schedule-item">
                <p>Saturday - Sunday</p>
                <div class="contacts__hour">
                  <p>08:00 AM - 16:00 PM</p>
                </div>
            </ul>
          </div>
          <div class="contacts__info">
            <ul class="contacts__info-list list">
              <li class="contacts__info-item">
                <a href="tel:+61(0)383766284" class="contacts__tel link">+61(0) 383 766 284</a>
              </li>
              <li class="contacts__info-item">
                <a href="mailto:noreply@envato.com" class="contacts__mail link">noreply@envato.com</a>
              </li>
              </ul>
          </div>
        </li>
        <li class="contacts__item">
          <p class="contacts__top-text">CAFE</p>
          <p class="contacts__text">New York</p>
          <address class="contacts__address">726 Sterling Pl, Brooklyn, NY 11222, USA</address>
          <div class="contacts__schedule">
            <ul class="contacts__schedule-list list">
              <li class="contacts__schedule-item">
                <p >Monday - Friday</p>
                <div class="contacts__hour">
                  <p>06:00 AM - 10:00 PM</p>
                </div>
              </li>
              <li class="contacts__schedule-item">
                <p class="contacts__schedule-day">Saturday - Sunday</p>
                <div class="contacts__hour">
                  <p>08:00 AM - 16:00 PM</p>
                </div>
            </ul>
          </div>
          <div class="contacts__info">
            <ul class="contacts__info-list list">
              <li class="contacts__info-item">
                <a href="tel:+61(0)383766284" class="contacts__tel link">+61(0) 383 766 284</a>
              </li>
              <li class="contacts__info-item">
                <a href="mailto:noreply@envato.com" class="contacts__mail link">noreply@envato.com</a>
              </li>
              </ul>
          </div>
        </li>
    </ul>
    </div>
    <ul class="contacts__buttons-list list">
      <li class="contacts__buttons-item">
        <button type="button" class="our-location-button" data-locations-modal-open>Our Locations</button>
      </li>
      <li class="contacts__buttons-item">
        <button type="button" class="franchise-button" data-franchise-modal-open>Franchise</button>
      </li>
    </ul>
  </section>