<footer class="footer">
  <div class="container">
    <div class="footer__main">
      <div class="footer-title">
        <p class="footer__text-first">homemade ice cream made</p>
        <p class="footer__text-second">with passion</p>
      </div>
      <div class="footer__contacts-all">
        <ul class="footer__socials list">
          <li>
            <a
              class="footer__social-icon"
              href="https://github.com/"
              target="_blank"
              rel="nofollow noopener noreferrer"
              aria-label="GitHub icon"
            >
              <svg class="" width="20" height="20">
                <use href="./images/icons.svg#github"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="footer__social-icon"
              href="https://web.telegram.org/k/"
              target="_blank"
              rel="nofollow noopener noreferree"
              aria-label="Telegram icon"
            >
              <svg class="" width="20" height="20">
                <use href="./images/icons.svg#telegram"></use>
              </svg>
            </a>
          </li>

          <li>
            <a
              class="footer__social-icon"
              href="https://www.facebook.com/"
              target="_blank"
              rel="nofollow noopener noreferrer"
              aria-label="Facebook icon"
            >
              <svg class="" width="20" height="20">
                <use href="./images/icons.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="footer-contact">
          Feel free to contact
          <a class="footer-contact__phone link" href="tel:+61(0)383766284"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
    <p class="copyright">© 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
