<section class="gallery" id="our-products">
    <h2 class="visually-hidden">Gallery</h2>
    <div >
        <div class="gallery-content">
            <!-- Container for slider -->
            <div class="gallery-slider">
                <!-- Slider mask -->
                <div class="mask">
                    <ul class="list">
                        <li id="first" class="firstanimation">
                            <img srcset="./images/gallery/ice-cream1@2x.jpg 2x" 
                                src="./images/gallery/ice-cream1@1x.jpg" 
                                alt="Ice-cream"
                                width="280"
                                class="gallery-content__photos">
                        </li>
                        <li id="second" class="secondanimation">
                            <img srcset="./images/gallery/ice-cream2@2x.jpg 2x" 
                                src="./images/gallery/ice-cream2@1x.jpg" 
                                alt="Ice-cream"
                                width="280"
                                class="gallery-content__photos">
                        </li>
                        <li id="third" class="thirdanimation">
                            <img srcset="./images/gallery/ice-cream3@2x.jpg 2x" 
                            src="./images/gallery/ice-cream3@1x.jpg" 
                            alt="Ice-cream"
                            width="280"
                            class="gallery-content__photos">
                        </li>
                        <li id="fourth" class="fourthanimation">
                            <img srcset="./images/gallery/ice-cream4@2x.jpg 2x" 
                            src="./images/gallery/ice-cream4@1x.jpg" 
                            alt="Ice-cream"
                            width="280"
                            class="gallery-content__photos">
                        </li>
                        <li id="fifth" class="fifthanimation">
                            <img srcset="./images/gallery/ice-cream5@2x.jpg 2x" 
                            src="./images/gallery/ice-cream5@1x.jpg" 
                            alt="Ice-cream"
                            width="280"
                            class="gallery-content__photos">
                        </li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>
</section>
