<section class="gallery">
        <div class="container">
            <h2 class="visually-hidden">Gallery</h2>
            <div class="gallery-container">
                <div class="gallery-container__item">
                    <article class="gallery-container__article">
                        <img 
                        srcset="./images/gallery/ice-cream1@2x.jpg 2x" 
                        src="./images/gallery/ice-cream1@1x.jpg"
                        alt="Ice-cream" 
                        width="280px" 
                        class="gallery-container__photos">
                    </article>
                </div>
                <div class="gallery-container__item">
                    <article class="gallery-container__article">
                        <img 
                        srcset="./images/gallery/ice-cream2@2x.jpg 2x" 
                        src="./images/gallery/ice-cream2@1x.jpg"
                        alt="Ice-cream" 
                        width="280px" 
                        class="gallery-container__photos">
                    </article>
                </div>
                <div class="gallery-container__item">
                    <article class="gallery-container__article">
                        <img 
                        srcset="./images/gallery/ice-cream3@2x.jpg 2x" 
                        src="./images/gallery/ice-cream3@1x.jpg"
                        alt="Ice-cream" 
                        width="280px" 
                        class="gallery-container__photos">
                    </article>
                </div>
            </div>
        </div>
</section>
