<header class="header" >
    <div class="container header__container">
      <nav class="header__nav ">
        <div class="header__logo">
          <img  srcset="
              ./images/logo.png 65w,
              ./images/logo_tb.png 48w,
              ./images/logo_mb.png 40w" 
              sizes="(min-width: 1200px) 65px, (min-width: 768px) 48px, (min-width: 320px) 40px, 100vw" 
              src="./images/logo.png " 
              alt="лого" 
              loading="lazy" 
              width="40px"/>
        </div>
        <ul class="header__list list-clear">
          <li><a href="/" class="header__item">Home</a></li>
          <li><a href="#about" class="header__item">How it’s made?</a></li>
          <li><a href="#our-products" class="header__item">Our products</a></li>
          <li><a href="/" class="header__item">Contact</a></li>
        </ul>
      <button
          class="button header__menu-toggle js-open-menu"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="header__burger" >
            <use href="./images/icons.svg#icon-menu"></use>
          </svg>
        </button>
        <button class="button buy-now-button" buy-modal-open>Buy now
          <svg class="buy-now-button__svg" width="12" height="20">
                <use href="./images/icons.svg#button-arrow-right"></use>
              </svg>
        </button>
    </div>
</nav>
  </header>