<div class="hero">
    <div class="container hero__container">
    <div class="hero__div">
        <div class="hero__title--box">
            <h1 class="hero__title">ice cream <span class="hero__title--one">made with</span> <span class="hero__title--two">passion</span></h1>
            <ul class="hero__list list-clear">
            <li class="hero__list--products .list-clear"><a class="hero__product--text hero__item" href="#our-products">Products</a></li>
            <li class="hero__list--howmade"><a class="hero__item hero__howmade--text" href="#about">How it’s made?</a></li></ul>
        </div>
        <div>
        <ul class="list-clear hero__list--numbers">
            <li class="hero__list--number">16<p class="hero__list--name">cafes</p></li>
            <li class="hero__list--number">23<p class="hero__list--name">food trucks</p></li>
        </ul>
    </div>
</div>
    <div class="hero__text">
        <p class="hero__text--p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <svg class="hero__arrow" width="40" height="15">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
    </div>
    

<img class="hero-image--dots" srcset="
    ./images/hero/dots_ds_1x.png 456w,
    ./images/hero/dots_ds_2x.png 912w,
    ./images/hero/dots_tb_1x.png 268w,
    ./images/hero/dots_tb_2x.png 536w,
    ./images/hero/dots_mb_1x.png 177w,
    ./images/hero/dots_mb_2x.png 354w" sizes="(min-width: 1200px) 456px, (min-width: 768px) 268px, (min-width: 250px) 177px,
    100vw" src="./images/hero/dots_ds_1x.png " alt="dots"
    loading="lazy" />


    <img class="hero-image--icecream" srcset="
              ./images/hero/icecream_ds_1x.png 456w,
              ./images/hero/icecream_ds_2x.png 912w,
              ./images/hero/icecream_tb_1x.png 268w,
              ./images/hero/icecream_tb_2x.png 536w,
              ./images/hero/icecream_mb_1x.png 177w,
              ./images/hero/icecream_mb_2x.png 354w" sizes="(min-width: 1200px) 456px, (min-width: 768px) 268px, (min-width: 250px) 177px,
100vw" src="./images/hero/icecream_ds_1x.png " alt="icecreame" 
loading="lazy" />

<img class="hero-image--plate" srcset="
./images/hero/plate_ds_1x.png 225w,
./images/hero/plate_ds_2x.png 450w,
./images/hero/plate_tb_1x.png 152w,
./images/hero/plate_ds_2x.png 304w,
              ./images/hero/icecream_mb_1x.png 177w,
              ./images/hero/icecream_mb_2x.png 354w" sizes="(min-width: 1200px) 225px, (min-width: 768px) 152px, (min-width: 250px) 177px,
100vw" src="./images/hero/plate_ds_1x.png" alt="plate" 
loading="lazy" />


    </div>
</div>