<div class="hero">
    <div class="container">
    <div>
        <div>
            <h1 class="hero__title">ice cream made with passion</h1>
            <ul>
            <li><a href="">Products</a></li>
            <li><a href="">How it’s made?</a></li>
        </div>
        <div>
        <ul>
            <li>16<p>cafes</p></li>
            <li>23<p>food trucks</p></li>
        </ul>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <svg class="hero__arrow" width="40" height="15">
            <use href="./images/icons.svg#arrow"></use>
          </svg>
    </div>
    
    </div>
    
    
    </ul>
    
    </div>
</div>