<div class="backdrop is-hidden">
    <div class="modal-made">
        <button class="modal-made__icon" type="button">
            <svg class="modal-made__icon-close" width="20" height="20">
                <use href="./images/icons.svg#close"></use>
            </svg>
        </button>
        <h3 class="modal-made__title">How it’s made?</h3>
        <div class="modal-made__video">
            <iframe class="modal-made__iframe" src="https://www.youtube.com/embed/zagD0LQdsDE" title="Морозиво I Зроблено в Україні"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <p class="modal-made__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor
        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>


    </div>
</div>
