<div class="backdrop is-hidden" buy-modal> 
    <div class="modal-buy">
        <button class="close-button--black" type="button" buy-modal-close>
            <svg class="close__icon--black">
                 <use href="./images/icons.svg#close"></use>
             </svg>
          </button>

          <h2 class="modal-buy__title">Buy now</h2>
          <ul class="ice-cream-types">
            <li class="ice-cream-types__item">
                <div class="modal-buy__photo-container">
                    <picture class="modal-buy__photo">
                        <img src="./images/products.-modal-windows/chololate@1x.png" alt="icecream">
                      </picture>
                  <div class="ice-cream__round">
                      <p class="ice-cream__text">ice cream</p>
                  </div>
                </div>
            </li>
            <li class="ice-cream-types__item">
                <div class="modal-buy__photo-container">
                    <picture class="modal-buy__photo">
                        <img src="./images/products.-modal-windows/chololate@1x.png" alt="icecream">
                      </picture>
                      <div class="ice-cream__round">
                        <p class="ice-cream__content">ice coffee</p>
                    </div>
                  </div>
            </li>
            <li class="ice-cream-types__item">
                <div class="modal-buy__photo-container">
                    <picture class="modal-buy__photo">
                        <img src="./images/products.-modal-windows/chololate@1x.png" alt="icecream">
                      </picture>
                      <div class="ice-cream__round">
                        <p class="ice-cream__content">milkshake</p>
                    </div>
                  </div>
            </li>
          </ul>


          <form class="form form-ingr">
            <input
              class="form__input"
              type="text"
              name="username"
              placeholder="Name"
              required
            />
            <input
              class="form__input"
              type="tel"
              name="phone"
              placeholder="Phone"
              required
            />
            <textarea
            class="form__input form__input--multiline"
            name="comment"
            placeholder="Comment"
            ></textarea>
        </form>

          <button type="submit" class="modal-product__button-send" buy-modal-send>
            Submit
          </button>
    </div>
</div>