<div class="backdrop is-hidden" data-locations-modal>
        <div class="modal-location">
                <button class="modal-location__icon" type="button" data-locations-modal-close>
                        <svg class="modal-location__icon-close" width="20" height="20">
                             <use href="./images/icons.svg#close"></use>
                         </svg>
                </button>
                <p class="modal-location__title">Our location</p>
                <img class="modal-location__photo"
                srcset="./images/modal-locations/rectangle-27mob1x.png 224w,
                        ./images/modal-locations/rectangle-27desktab1x.png 448w,
                        ./images/modal-locations/rectangle-27mob2x.png 448w,
                        ./images/modal-locations/rectangle-27desktab2x.png 896w" 
                sizes="(min-width: 1200px) 448px, (min-width: 768px) 448px, (min-width: 480px) 224px, 100vw" 
                alt="location" 
                usemap="#locationsmap">
                    <map name="locationsmap">
                      <area shape="rect" coords="49,34,13" alt="our location" href="https://www.google.com/maps/@49.5848526,34.539522,13.43z">
                    </map>
                <a href="https://www.google.com.ua/maps/@49.5845326,34.5547439,12.52z?hl=uk" class="our-location-button"><span class="link">Open map</span></a>
        </div>
</div>
  


    
                